*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dbDark: black;
    --dbGreen: #00ff00;
    --dbWhite: #fff;
}

/* component loading */

.custom-container{
    display: flex;
    /* le adiciono propiedades para centrarlo */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--dbDark);
}

.custom-loader{
    width: 100px;
    height: 100px;
    border: solid 5px #064555;
    /* la parte superior sera un tono mas claro */
    border-top: solid 5px #7cd6ec;
    /* le damos una forma circular */
    border-radius: 50%;
    /*  definimos su animación, tiempo y la forma */
    animation: custom-loader .8s linear infinite;
}

/* Establecemos la animación 2D */
@keyframes custom-loader{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.custom-message{
    position: absolute;
    color: #7cd6ec;
    top: 50%;
    left: 50%;
    /* lo centro usando el traslate de la animación 2D en eje X y eje Y */
    transform: translate(-50%, -50%);
    animation: custom-message 1s alternate infinite ease-in-out;
}

@keyframes custom-message{
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

/* ----------------- */

/* components navbar */

/* scroll */

.fixed-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 1000;
    transition: backgraund-color 0.3s ease;
}

.fixed-navbar:hover{
    background-color: var(--dbDark);
}

/* ------ */

/* Efecto neon en navbar */

.neon-effect{
    position: relative;
}

.neon-effect::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 4px; /* Grosor del efecto neón */
    background: linear-gradient(135deg, #00ff00, #00ffff, #0000ff); /* Colores del Neón */
    opacity: 0.8; /* Revisar se puede ajustar la opacidad */
    animation: neon-glow 1.5s ease-in-out infinite;
}

@keyframes neon-glow{
    0%, 100% {
        transition: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

/* --------------------- */

.link{
    text-decoration: none;
}

.custom-bg-color{
    background-color: var(--dbDark);
}

.custom-btn{
    color: var(--dbDark);
    border-radius: 10px;
    background-color: var(--dbGreen);
    transition: background-color 0.3s ease;
}

.custom-btn:hover{
    color: var(--dbWhite);
    background-color: var(--dbDark);
}

/* pages index */

.custom-img{
    border-radius: 365px;
    opacity: 0;
    transition: opacyty 3s ease;
}

.custom-img.show{
    opacity: 1;
}

@media (max-width: 767px) {
    .custom-img {
        max-width: 100%;
        height: auto;
        max-height: 200px;
    }
}

/*  animación de Developer Web */

.custom-heading{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(40, and), blink-caret 0.75s step-end infinite;
}

@keyframes typing{
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret{
    from, to{
        border-color: transparent;
    }
    50% {
        border-color: var(--dbGreen);
    }
}

/* --------------------------- */

.custom-text{
    color: var(--dbGreen);
    opacity: 0;
    transition: opacity 6s ease;
}

.custom-text.show{
    opacity: 1;
}

.custom-span{
    color: var(--dbGreen);
}

.custom-p{
    opacity: 0;
    transition: opacity 12s ease;
}

.custom-p.show{
    opacity: 1;
}

.custom-btn-cv{
    padding: 10px;
    color: var(--dbWhite);
    border-radius: 10px;
    border: solid 1px var(--dbGreen);
    background-color: var(--dbDark);
    opacity: 0;
    transition: opacity 16s ease;
}

.custom-btn-cv.show{
    opacity: 1;
}

.custom-btn-cv:hover{
    color: var(--dbDark);
    background-color: var(--dbGreen);
}

.custom-bg-dark{
    background-color: var(--dbDark);
}

/* componente aboutme */

.custom-div-img{
    height: 100px;
    overflow: hidden;
}

.custom-text-align{
    text-align: justify;
}

.custom-img-li{
    max-width: 100px;
    max-height: 100px;
}

/* component portfolio */

.overflow{
    overflow: hidden;
}

.overflow .card-img-top{
    transform: scale();
    transition: all 0.5s ease-in-out;
}

.overflow .card-img-top:hover{
    transform: scale(1.1);
}

.card-img-top{
    width: 100%;
    height: 280%;
    object-fit: cover;
}

/* component contact */

.custom-title{
    color: var(--dbGreen);
}

.custom-input{
    background-color: #333 !important;
    color: var(--dbWhite) !important;
}

.custom-input::placeholder{
    color: var(--dbWhite);
}

/* component footer */

.custom-bg-black{
    background-color: var(--dbDark);
}

.custom-footer-links .list-inline-item{
    margin-right: 50px;
    margin-left: 50px;
}

.custom-footer-links .list-inline-item:hover{
    text-decoration: underline;
}